<div id="unfinished">
	<input type="text" id="new-task-field" placeholder="enter a task to do" autofocus>
	<button class='add-item' id="add-item">Add Item</button>
	<hr>
	<p>Unfinished</p>
	<ol id="todo-items">
		<%= render partial: 'todo_item', collection: @unfinished_tasks %>
	</ol>
</div>
<div id="finished">
	<hr>
	<p>Finished</p>
	<ol id="completed-items">
		<%= render partial: 'todo_item', collection: @finished_tasks %>
	</ol>
</div>

