@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
  font-family: Helvetica, Arial, Sans-Serif;
  background: #fafafa;
  color: #808080;
}

button, input[type=text] {
  outline: none;
}

h1 {
  color: #404040;
  font-family: 'Libre Baskerville', serif;
}
p {
  margin: 0px;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 3px;
}
li {
  margin: 5px;
  /*height: 30px;*/

}

#container {
  width: 1000px;
  margin: auto;
}

#new-task-field {
  padding: 10px;
  border: none;
  border-bottom: 5px dashed #333;
  border-top: 5px dashed #333;
  width: 789px;
  margin: 0 0 0 45px;
  border-top-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

.items {
  padding: 10px;
  background: white;
  color: #808080;
  border-bottom: 5px solid #404040;
  border-top: 5px solid #404040;
}
.meta-data {
  color: #aaaaaa;
  font-size: small;
  font-style: italic;
}

#unfinished,
#finished {
  margin: 10px 0 10px 0;
  padding: 10px 40px 10px 10px;
  background: #404040;
  border-bottom: 5px solid #333;
  border-top: 5px solid #333;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 5%;
  color: #eeeeee;
}
#finished li {
  list-style-type: none;
}
#finished li .items {
  color: #aaaaaa;
}


.actions {
  float: right;
}

button {
  margin: 0px;
  border: none;
  cursor: pointer;
  /*height: 85%;*/
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1px;
  opacity: .9;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

button:hover {
  /*padding: 5px;*/
  opacity: 1;
  /*height: 100%;*/
  color: #6060ff;
}

.delete {
  background: #eecccc;
}
.complete {
  background: #eeeeee;
}

.due-timer {
  font-size: small;
  padding: 10px;
  color: white;
  opacity: .5;
}

#add-item {
  background: #6060ff;
  color: black;
  letter-spacing: 0px;
  padding: 10px 20px 10px 20px;
  opacity: .8;
}

#add-item:hover {
  opacity: 1;
}


/*orange = 255,165,0
red = 255,0,0
green = 0,255,0
yellow = 255,255,0*/